*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    background-color: skyblue;
    height: 70px;
    width: 100%;
    z-index: 1;
    
}

.logo{
    font-size: 25px;
    position: relative;
    left: 5%;
    color: white;
    font-weight: bold; 
    line-height: 70px;
}

ul{
    position: relative;
    float: right;
    margin-right: 20px;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 70px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.main_img{
    width: 100%;
    height: 800px;
    background-image: url(../images/main_img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section1{
    padding-top: 70px;
}

.img-text{
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
    background-color: midnightblue;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 35px;
}

footer{
    background-color: black;
    height: 70px;
    width: 100%;
    padding-top: 8px;
    
    
}

.footer-text{
    text-align: center;
    top: 20%;
    position: relative;
    color: white;
}

/* Login.php css */
.form-deg{
   padding-top: 200px;
}

.label-deg{
    display: inline-block;
    color: skyblue;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-form{
    background-color: black;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.title-deg{
    background-color: skyblue;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    font-size: 20px;
}

